.checkout-container {
  position: relative;
}

.checkout-button {
  padding: 10px;
  margin-left: 200px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-popup {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  transform: translateY(10px);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 200px;
  width: 300px;
}

.checkout-popup form {
  display: flex;
  flex-direction: column;
}

.checkout-popup form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.checkout-popup form input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.checkout-popup form input[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-popup form input[type="submit"]:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .checkout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .checkout-button {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .checkout-popup {
    margin-left: 0;
    width: 90%;
  }
}